@use '/src/styles/constants/colors';

.inputForm {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 35px 0 20px;

  .formTitle {
    margin-bottom: 5px;
    font-size: 10px;
    color: colors.$INPUT_TEXT;
  }

  .iconHidden {
    display: none;
  }

  svg {
    position: absolute;
    top: 30px;
    right: -17px;
    block-size: 12px;
    width: fit-content;
    cursor: pointer;

    path {
      fill: colors.$GRAY6;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .inputText {
    padding: 5px;
    border-bottom: 1.5px solid colors.$INPUT_BORDER;
    border-radius: 1px;
  }

  .inputTextarea {
    padding: 5px;
    border: none;
    border-bottom: 1.5px solid colors.$INPUT_BORDER;
    border-radius: 9px;
  }

  .readOnlyInput {
    background-color: colors.$GRAYE;
  }
}

.errorMessage {
  font-size: 13px !important;
  color: colors.$RED;
  letter-spacing: 0.5px;
}
