@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.searchForm {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: 35px 0 20px;
  background-color: colors.$WHITE;
  border: 1px solid colors.$GRAYA;
  border-radius: 5px;

  .inputWrapper {
    display: flex;
    width: 100%;

    .filterSelect {
      padding: 3px 5px;
      font-family: inherit;
      cursor: pointer;
      border: none;
      border-right: 1px solid colors.$GRAY6;
      border-radius: 5px;

      &:hover {
        background-color: colors.$GRAYD;
      }
    }

    .inputText {
      width: 100%;
      padding: 0 10px;
    }
  }

  .submitSearch {
    min-width: 33px;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    &:hover {
      background-color: colors.$GRAYE;
    }

    &:active {
      background-color: colors.$GRAYD;
    }
  }
}

.peopleContainer {
  display: flex;
  padding: 10px;
  margin: 0 0 10px;
  overflow: auto;
  background-color: colors.$WHITE;
  border-radius: 6px;
  box-shadow: 0 0 1px 1px colors.$GRAYD;

  .peopleList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90px;
    padding: 6px;
    margin-right: 17px;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid colors.$GRAYD;
    border-radius: 6px;

    &:hover {
      border: 1px solid colors.$GRAYA;
      box-shadow: 0 0 1px 1px colors.$GRAYD;
    }

    &:active {
      border: 1px solid colors.$GRAY6;
      opacity: 0.7;
    }

    .peopleImaageWrapper {
      width: 77px;
      height: 90px;
      overflow: hidden;

      .peopleImaage {
        width: 100%;
        height: auto;
      }
    }

    div {
      height: 35px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .noItems {
    width: 100%;
    text-align: center;
  }
}

.personListWrapper {
  margin: 25px 0 0;
}

.tableSection {
  margin: 17px 0;
}

.addButton {
  float: right;
  width: 130px;
  padding: 5px;
  margin: 15px 0;
  color: colors.$GRAYE;
  background-color: colors.$LOGIN_BUTTON_BACKGROUND;
  border-radius: 5px;

  &:hover {
    background-color: colors.$LOGIN_BUTTON_HOVER_BACKGROUND;
  }

  &:active {
    background-color: colors.$LOGIN_BUTTON_ACTIVE_BACKGROUND;
  }
}
