@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.searchInput {
  margin: 35px 10px 3px;
}

.peopleContainer {
  display: flex;
  padding: 10px;
  overflow: scroll;

  .peopleList {
    display: flex;
    flex-direction: column;
    margin-right: 17px;
  }

  .peopleImaage {
    width: 75px;
  }
}
