// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$MAIN_COLOR: #f5f5f7;
$MAIN_BACKGROUND_COLOR: #f7f8fc;

// Input Form
$INPUT_TEXT: rgb(132, 135, 138);
$DARK_INPUT_TEXT: rgb(224, 224, 224);
$INPUT_BORDER: rgb(206, 212, 218);
$ERROR_TEXT: rgb(211, 20, 20);

$FONT_COLOR: #f58027;
$BACKGROUND_COLOR: #f5f5f7;

// Side Bar
$SIDE_FONT_COLOR: #bdbdbd;
$SIDE_BACKGROUND_COLOR: #363740;
$SIDE_DARK_BACKGROUND_COLOR: #0a0603;
$SIDE_MENU_HOVER: #b4b4b4;
$SIDE_MENU_ACTIVE: #53555a;
$SIDE_LINK: #ffffff;

// Header
$HEADER_BACKGROUND_COLOR: #e2e2df;
$HEADER_DARK_BACKGROUND_COLOR: #242424; // #252941;
$HEADER_DARK_FONT_COLOR: #dadada;

// LOGIN
$LOGIN_BACKGROUND: #363740;
$LOGIN_FORM_BACKGROUND: #f5f5f5;
$LOGIN_BUTTON: #f7f7f7;
$LOGIN_BUTTON_BACKGROUND: #3751ff;
$LOGIN_BUTTON_HOVER_BACKGROUND: #4960f3;
$LOGIN_BUTTON_ACTIVE_BACKGROUND: #2e3ea5;

// Modal
$MODAL_BACKDROP_BACKGROUND: #313131c0;
$MODAL_HEADER: #1e262a;
$MODAL_BACKDROP_BACKGROUND: #2c2c2ca6;
$MODAL_DT_TEXT: #aaaaaa;
$MODAL_DD_TEXT: #464646;
$MODAL_BUTTON_BORDER: #3b3b3b;

$PRIMARY_BUTTON_BACKGROUND: #e98233;
$PRIMARY_BUTTON_HOVER_BACKGROUND: #f7a76b;
$PRIMARY_BUTTON_ACTIVE_BACKGROUND: #b66323;

$MODAL_BUTTON_CONFIRM_TEXT: #eeeeee;
$MODAL_BUTTON_HOVER_CONFIRM_TEXT: #ebebeb;

// Table
$TH_FONT_COLOR: rgb(136, 135, 135);
$TD_FONT_COLOR: #585858;
$TD_BUTTON_FONT: #585858;
$TD_BUTTON_HOVER: #bdbdbd;
$TD_BUTTON_ACTIVE: #696969;
