@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.container {
  position: relative;
  padding: 30px;
  margin-top: 30px;
  border: 1px solid colors.$GRAYD;
  border-radius: 10px;
  @include responsive.mobileOnly {
    width: 100% !important;
    padding: 15px;
  }
}

.sm {
  width: 50%;
}

.md {
  width: 70%;
}

.lg {
  width: 100%;
}

.white {
  background-color: colors.$WHITE;
}

.gray {
  background-color: colors.$GRAYE;
}
