@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: colors.$LOGIN_BACKGROUND;

  .section {
    width: 390px;
    padding: 35px;
    background-color: colors.$LOGIN_FORM_BACKGROUND;
    border-radius: 10px;

    .header {
      font-size: 20px;
      text-align: center;
    }

    input::placeholder {
      font-size: small;
      color: colors.$GRAY6;
    }

    @include responsive.mobileOnly {
      width: 90%;
    }

    .loginButton {
      width: 100%;
      height: 37px;
      margin: 25px 0;
      color: colors.$LOGIN_BUTTON;
      background-color: colors.$LOGIN_BUTTON_BACKGROUND;
      border-radius: 7px;

      &:hover {
        background-color: colors.$LOGIN_BUTTON_HOVER_BACKGROUND;
      }

      &:active {
        background-color: colors.$LOGIN_BUTTON_ACTIVE_BACKGROUND;
      }
    }
  }
}
